
<!-- Page / Spread Configuration Settings start -->
<div class="row">
    <div class="col-xs-12 padding20">
        <p class="font-bold">Please specify the functionality which the Pages / Spreads will support.</p>
        <div class="box-square marginTop5">
            <div class="box-square-head font-bold">Page / Spread Settings</div>
            <div class="">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">Flat Plan Types<span class="mandatory">*</span></label>
                        <div class="col-xs-3">
                            <div class="radio">
                                <label>
                                    <input type="radio">
                                    <img src="images/page1.jpg" alt="">
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="radio">
                                <label>
                                    <input type="radio">
                                    <img src="images/page2.jpg" alt="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <div class="bottom-border-empty marginbottom5"></div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">Allowed Types<span class="mandatory">*</span></label>
                        <div class="col-xs-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Pages
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Spreads
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="bottom-border-empty marginbottom5"></div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-xs-3 control-label">Allowed Layouts<span class="mandatory">*</span></label>
                        <div class="col-xs-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Items list
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Mud Map
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Sections
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-right paddingRight10 paddingBottom10">
                        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-pencil"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page / Spread Configuration Settings End -->