<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><li class="glyphicon glyphicon-user"></li> Users <label><li class="glyphicon glyphicon-plus-sign"></li>Add Uder</label></h4>
            </div>

            <div class="modal-body">

                <div class="row-fluid">

                    <div class="row no-gutter">
                        <div class="col-xs-6 col-md-4">

                            <form class="form1_content ">
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-md-10">


                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                <input type="text" class="form-control" name="" placeholder="" required>

                                            </div>

                                        </div>

                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-default pop_expand_btn" aria-label="Left Align">
                                                <div class="glyphicon glyphicon-plus pop_pls_btn" aria-hidden="true"></div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="row no-gutter">
                                <div class="col-md-5">Users</div>
                                <div class="col-md-7">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Show deleted</label>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <select multiple class="form-controll col-lg-12" id="sel2" size="8">
                                        <option class="list-group-item">Andrew Agosition</option>
                                        <option class="list-group-item">Adrian Connely</option>
                                        <option class="list-group-item">Alan Gattey</option>
                                        <option class="list-group-item">Briglitte Davies</option>
                                        <option class="list-group-item">Brain Gauci</option>
                                        <option class="list-group-item">David Bowman</option>
                                        <option class="list-group-item">Danielle Gallagher</option>
                                        <option class="list-group-item">Isabell Velez</option>
                                        <option class="list-group-item">Andrew Agosition</option>
                                        <option class="list-group-item">Adrian Connely</option>
                                        <option class="list-group-item">Alan Gattey</option>
                                        <option class="list-group-item">Briglitte Davies</option>
                                        <option class="list-group-item">Brain Gauci</option>
                                        <option class="list-group-item">David Bowman</option>
                                        <option class="list-group-item">Danielle Gallagher</option>
                                        <option class="list-group-item">Isabell Velez</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-8">
                            <div>

                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#home">Setup</a></li>
                                    <li><a data-toggle="tab" href="#menu1">Employee Details</a></li>
                                    <li><a data-toggle="tab" href="#menu2">Roles(0)</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-content">
                                        <div id="home" class="tab-pane fade in active">
                                            <form class="form-horizontal" role="form">
                                                <p>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Email address</label>
                                                        <div class="col-sm-4">
                                                            <input type="email" class="form-control" id="email" placeholder="tcavanagh@sb-media.com.au">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="inputPassword" class="col-sm-3 control-label">First name</label>
                                                        <div class="col-sm-3">
                                                            <input class="form-control" id="disabledInput" type="text" placeholder="First name" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="lastname" class="col-sm-3 control-label">Last name</label>
                                                        <div class="col-sm-3">
                                                            <input class="form-control" id="disabledInput" type="text" placeholder="Cavanagh" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="Select" class="col-sm-3 control-label">Type</label>
                                                        <div class="col-sm-4">
                                                            <select id="" class="form-control">
                                                                <option>Select</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="disabledSelect" class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-4">

                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="">Administrator</label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="">Enabled</label>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label for="disabledSelect" class="col-sm-3 control-label">Expiry date</label>
                                                        <div class="col-sm-5">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" name="" placeholder="" required>
                                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </p>
                                            </form>
                                        </div>

                                        <!-- <div id="menu1" class="tab-pane fade">
                                         <h3>Employee details</h3>
                                           <p>Some content in Doamin</p>
                                         </div> -->
                                        <!--<div id="menu2" class="tab-pane fade">
                                        <h3>Roles</h3>
                                         <p>Some content in Sequences</p>
                                        </div> -->

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary"><li class="glyphicon glyphicon-edit"></li>Create</button>
            </div>

        </div>
    </div>
    </div>

