<div id="YesNoAttribute" class="attribute-container" role="dialog" data-backdrop="static" ng-controller="CampaignAttributeController as cac">
    <div class="modal-dialog model-width800">
        <div class="modal-content add-sub-object-main">
            <form name="yesNoAttributeForm" class="form-horizontal" role="form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="closeModal();">&times;</button>
                    <h4><b>{{ action }}Add Yes/No Attribute</b></h4>
                    <!--Place the error directive here-->
                    <error-control attribute-scope="errorAttribute"></error-control>
                </div>
                <div class="modal-body">
                    <div class="attribute-scroll-wrap">
                        <div class="basci-properties-wrap">
                            <div class="attribute-model-title">Basic Properties</div>
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-xs-2 control-label">Name<span class="mandatory">*</span></label>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control input-medium" name="name"
                                                       ng-model="cac.model.name" ng-change="cac.deriveIdentifier()" allow-pattern="(\d|[a-z ])" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-xs-2 control-label">Identifier<span class="mandatory">*</span></label>
                                            <div class="col-xs-7">
                                                <input type="text" name="identifier" ng-model="cac.model.identifier"
                                                       ng-readonly="readonly" class="form-control"
                                                       allow-pattern="(\d|[a-z ])" required />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-offset-2 col-xs-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="Mandatory" ng-model="cac.model.Mandatory" ng-change="cac.model.ReadOnly = false" ng-checked="true"> Mandatory (Users must specify a value for this field)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-offset-2 col-xs-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-disabled="cac.model.Mandatory" name="ReadOnly" ng-model="cac.model.ReadOnly"> Read Only (Users cannot modify this attribute)
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-xs-offset-2 col-xs-10">
                                                <fieldset disabled>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-disabled="cac.model.Mandatory" name="ReadOnly" ng-model="cac.model.ReadOnly"> Allow version specific values
                                                        </label>
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <div class="col-xs-offset-2 col-xs-10" ng-hide="cac.model.isCopyField">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="isUnique" ng-model="cac.model.isUnique"> Value(s) must be Unique across all Objects
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <fieldset disabled>
                                            <div class="listbox-wrap form-group" ng-hide="!cac.model.isUnique">
                                                <div class="col-xs-offset-2 col-xs-10">
                                                    <div class="list-valu-box">

                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="isSingularlyUnique" ng-model="cac.model.isSingularlyUnique"
                                                                       ng-checked="cac.model.isSingularlyUnique==option.key" value="0">
                                                                Sinularly Unique
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="isSingularlyUnique" ng-model="cac.model.isSingularlyUnique"
                                                                       ng-checked="cac.model.isSingularlyUnique==option.key" value="1">
                                                                Composite Unique
                                                            </label>
                                                        </div>
                                                        <div class="form-inline margin-left20">
                                                            <label for="unique_group" class="control-label">Unique Group<span class="form-mandatory">*</span></label>
                                                            <select class="form-control width100 margin-left10" ng-model="cac.model.uniqueGroup" name="uniqueGroup"
                                                                    ng-change="cac.model.isSingularlyUnique = '0'">
                                                                <option value="" selected hidden> Name+Brand</option>
                                                            </select>
                                                            <button class="btn btn-default" data-toggle="modal">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-xs-5" ng-hide="cac.model.isSequence">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="isAllowMultiValue" ng-model="cac.model.isAllowMultiValue" />
                                            Allow Multiple Values
                                        </label>
                                    </div>
                                    <div class="list-valu-box marginTop10" ng-hide="!cac.model.isAllowMultiValue">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="isValueUnique" ng-disabled="!cac.model.isAllowMultiValue" ng-model="cac.model.isValueUnique" class="">
                                                Values Must be unique
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="canValueRearranged" ng-disabled="!cac.model.isAllowMultiValue" ng-model="cac.model.canValueRearranged" class="">
                                                Values can be rearranged
                                            </label>
                                        </div>

                                        <div class="attribute">
                                            <div class="form-horizontal marginTop10">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-7 text-left no-padding">Minimum # of values</label>
                                                    <div class="col-xs-5">
                                                        <input type="text" name="minNumOfValues" ng-disabled="!cac.model.isAllowMultiValue"
                                                               ng-model="cac.model.minNumOfValues" maxlength="3" only-number0999 class="form-control" />
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="form-horizontal marginTop10">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-7 text-left no-padding">Maximum # of values</label>
                                                    <div class="col-xs-5">
                                                        <input type="text" name="maxNumOfValues" ng-disabled="!cac.model.isAllowMultiValue"
                                                               ng-model="cac.model.maxNumOfValues" maxlength="3" only-number0999 class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 marginTop20">
                            <div class="form-group">
                                <label for="exampleTextarea">Attribute Description/ Help Text</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3" textarea name="description" ng-model="cac.model.description"></textarea>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 marginTop20">
                                <div class="attribute-model-title">Yes / No Attribute Properties</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">

                                <div class="attribute">
                                    <div class="form-horizontal">

                                        <div class="form-group row">
                                            <div class="col-xs-3">
                                                <label class="control-label text-left" for="yesValue">Yes Value<span class="mandatory">*</span></label>
                                            </div>
                                            <div class="col-xs-3">
                                                <input type="text" name="yesValue" ng-model="cac.model.yesValue" value="Yes" class="form-control" required />
                                            </div>

                                            <div class="col-xs-2">
                                                <label class="control-label" for="noValue">No Value<span class="mandatory">*</span></label>
                                            </div>
                                            <div class="col-xs-3">
                                                <input type="text" name="noValue" ng-model="cac.model.noValue" value="No" class="form-control" required />
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <div class="col-xs-3">
                                                <label class="control-label" for="defaultValue">Default Value<span class="mandatory">*</span></label>
                                            </div>
                                            <div class="col-xs-3">
                                                <select name="defaultValue" data-ng-model="cac.model.defaultValue" class="form-control" required>
                                                    <option value="" hidden></option>
                                                    <option value="0" selected="selected">Not Specified</option>
                                                    <option value="1" ng-bind="cac.model.yesNoAttribute.yesValue"></option>
                                                    <option value="2" ng-bind="cac.model.yesNoAttribute.noValue"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-xs-3">
                                                <label class="control-label">Display Input As<span class="mandatory">*</span></label>
                                            </div>

                                            <div class="col-xs-3" data-ng-repeat="option in cac.model.yesnoDisplayTypes">
                                                <div class="yesno-displaybox">
                                                    <div class="yesno-box-header">
                                                        <div class="form-horizontal">
                                                            <div class="radio">
                                                                <label>
                                                                    <input class="yesno-displaybox-heckbox" type="radio" name="displayType" ng-model="cac.model.displayType" ng-checked="cac.model.displayType==option.key" value="{{option.key}}" required />  {{option.value}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="yesno-img-wrap">
                                                        <div class="yesno-img-checkbox" ng-show="option.key==0"></div>
                                                        <div class="yesno-img-radiobutton" ng-show="option.key==1"></div>
                                                        <div class="yesno-img-dropdown" ng-show="option.key==2"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="sub-object-footer">
                    <div class="modal-footer">
                        <button class="btn btn-grey" type="button" aria-hidden="true"><i class="fa fa-times"></i> Discard</button>
                        <button ng-click="cac.addYesNo(cac.model)" ng-disabled="yesNoAttributeForm.$invalid" class="btn btn-primary" type="button" aria-hidden="true"><i class="fa fa-pencil"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>