<!--Create new content type using campaign base type MODAL START--------------------------------------------------------------------->
<div>
    <div class="alert alert-success" ng-show="cbtc.model.isAddSucess">
        <strong>Success!</strong> Successfully added.
    </div>
    <div class="alert alert-danger" ng-show="cbtc.model.isAddError">
        
    </div>
    <div id="campaignContentType" data-backdrop="static" class="" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form name="campaignContentBaseTypeForm" class="form-horizontal" role="form" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cbtc.cancel()" aria-label="Close">&times;</button>
                        <h4><b>Add Campaign Content Type</b></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal settings">
                                <div class="form-group">
                                    <label for="" class="col-sm-5 text-right control-label">Domain<i class="mandatory">*</i></label>
                                    <div class="col-xs-3">
                                        <select name="domain" ng-if="cbtc.model.domains.length > 0"  ng-model="cbtc.model.DomainId"
                                                data-ng-options="domain.domainId as domain.domainName for domain in cbtc.model.domains"
                                                class="form-control ng-pristine ng-valid ng-touched domain-select"
                                                aria-invalid="false" required>
                                            <option value="">Select Domain</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn-default campaign-plus-button" ng-click="cbtc.showManageIT()">+</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 text-right control-label">Singular Name<i class="mandatory">*</i></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="singularName" ng-pattern="/^.{1,32}$/" ng-model="cbtc.model.SingularName" class="form-control input-sm" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 text-right control-label">Plural Name<i class="mandatory">*</i></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="pluralName" ng-pattern="/^.{1,32}$/" ng-model="cbtc.model.PluralName" ng-change="cbtc.deriveIdentifier()" class="form-control input-sm" required />
                                    </div>
                                </div>
                                <div class="form-group campaign-add-bottom-line">
                                    <label for="" class="col-sm-5 text-right control-label">Identifier<i class="mandatory">*</i></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="identifier" ng-pattern="/^.{1,32}$/" ng-model="cbtc.model.Identifier" class="form-control input-sm ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" required="" aria-invalid="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-5 text-right control-label">Campaign Number</label>
                                    <div class="col-sm-4">
                                        <label for="manuallyEntered"><input type="radio" ng-model="cbtc.model.mEntered" name="cNumber" id="manuallyEntered" value="1" ng-click="cbtc.showSequence('Y')"> Manually Entered</label><br />
                                        <label for="autoGenerated"><input type="radio" ng-model="cbtc.model.mEntered" name="cNumber" id="autoGenerated" value="0" ng-click="cbtc.showSequence('N')" ng-checked="true"> Auto Generated</label>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="cbtc.model.isVisible">
                                    <label for="" class="col-sm-5 text-right control-label"></label>
                                    <div class="col-sm-4">
                                        <input type="text" name="mEntered" ng-model="cbtc.model.CampaignNumber"  class="form-control input-sm" >
                                    </div>
                                </div>

                                <div class="form-group"  ng-hide="cbtc.model.isVisible">
                                    <label for="" class="col-sm-5 text-right control-label"></label>
                                    <div class="col-xs-3">
                                        <select name="domain" ng-if="cbtc.model.sequences.length > 0" ng-model="cbtc.model.CampaignName"
                                                data-ng-options="sequence.sequenceId as sequence.sequenceName for sequence in cbtc.model.sequences"
                                                class="form-control ng-pristine ng-valid ng-touched domain-select"
                                                aria-invalid="false">
                                            <option value="">Select Sequence</option>
                                        </select>
                                    </div>
                                    <div class="table-cell table-cel-padding button-padding">
                                        <button type="button" class="btn btn-default" data-toggle="modal" ng-click="cbtc.showManageIT()"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-left">
                            <button class="btn btn-danger btn-sm" type="button" ng-click="cbtc.cancel()"><i class="fa fa-times"></i> Cancel</button>
                        </div>
                        <div class="btn-right">
                            <button class="btn btn-primary btn-sm" type="button" ng-click="cbtc.add(cbtc)" ng-disabled="campaignContentBaseTypeForm.$invalid"><i class="fa fa-pencil"></i> Add</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Create new content type using campaign base type MODAL END-----------------------------------------------------------------------------------------> 