<!--Add Context MODAL START--------------------------------------------------------------------->
<div id="addContext" class="modal fade attribute-container" tabindex="-1" role="dialog" aria-labelledby="addContext">
    <div class="modal-dialog model-width700">
        <div class="modal-content add-sub-object-main">
            <form name="frmwe1" role="form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4><i class="fa fa-cogs" aria-hidden="true"></i> <b>Add Context</b></h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="row">
                            <div class="col-xs-12 white-bg">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs position-relative" role="tablist">
                                    <li class="active"><a href="#" data-target="#selectContext" role="tab" data-toggle="tab">Select Context</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">

                                    <!-- Tab1 -->
                                    <div role="tabpanel" class="tab-pane active" id="selectContext">
                                        <div class="padding10">
                                            <div class="row marginTop20">
                                                <div class="col-xs-12">
                                                    <div class="attribute-model-title">Contexts Defined in Manage iT</div>
                                                    <div class="jobit-content-type-list">
                                                        <ul>
                                                            <li>
                                                                <a href="#" data-toggle="modal" data-target="#addjobcontenttype">
                                                                    <div class="attribute-type-img"> <img src="images/icon-content-type.jpg" alt=""> </div>
                                                                    <div class="attribute-type-img-title"><b>Amart &gt; Language</b></div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="modal" data-target="#addjobcontenttype">
                                                                    <div class="attribute-type-img" data-toggle="modal" data-target="addcontentContextType"> <img src="images/add-context.png" alt=""> </div>
                                                                    <div class="attribute-type-img-title" data-toggle="modal" data-target="addcontentContextType"><b>Add Context</b></div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Add Context MODAL END----------------------------------------------------------------------------------------->