 <!--Child Node Offer Properties MODA START------------------------------------------------->
<div id="selectChildNodeProperties" class="modal fade attribute-container" tabindex="-1" role="dialog" aria-labelledby="selectChildNodeProperties">
    <div class="modal-dialog model-width700">
        <div class="modal-content add-sub-object-main">
            <form name="frm6c" role="form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4><i class="fa fa-cogs" aria-hidden="true"></i> <b>Offer Properties</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 white-bg">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs position-relative" role="tablist">
                                <li class="active"><a href="#" data-target="#basicBegaviour" role="tab" data-toggle="tab">Basic Behaviour</a></li>
                                <li><a href="#" data-target="#linkCopySettings" role="tab" data-toggle="tab">Link & Copy Settings</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Tab1 -->
                                <div role="tabpanel" class="tab-pane active" id="basicBegaviour">
                                    <div class="padding10">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="settings-table-row">
                                                    <div class="settings-table-cell attribute-map-chckradio">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="">
                                                                        Allow Multiple Offers
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="light-border padding10 min-height100">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    Offers must be uniqre
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    Offers can be rearranged
                                                                </label>
                                                            </div>
                                                            <div class="form-horizontal formgrp-bot-space">
                                                                <div class="form-group">
                                                                    <label for="" class="col-xs-6 control-label">Maximum # of offers</label>
                                                                    <div class="col-xs-3">
                                                                        <input type="text" class="form-control" id="" placeholder="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row marginTop10">
                                                            <div class="col-xs-12"> <span class="font-bold childs-bot-space">Search & Pagination</span> </div>
                                                        </div>
                                                        <div class="light-border padding10 min-height100">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    Allow Quick Search by Name
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    Paginate Items
                                                                </label>
                                                            </div>
                                                            <div class="form-horizontal formgrp-bot-space">
                                                                <div class="form-group">
                                                                    <div class="col-xs-3">
                                                                        <input type="text" class="form-control" id="" placeholder="">
                                                                    </div>
                                                                    <label for="" class="col-xs-6 row control-label align-left">Items per page</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row marginTop10">
                                                            <div class="col-xs-12"> <span class="font-bold childs-bot-space">List Item UI</span> </div>
                                                        </div>
                                                        <div class="light-border padding10">
                                                            <div class="form-horizontal formgrp-bot-space">
                                                                <div class="form-group">
                                                                    <label for="" class="col-xs-6 control-label align-left">Display Items using</label>
                                                                    <div class="col-xs-6">
                                                                        <select class="form-control">
                                                                            <option>Generic List</option>
                                                                            <option>2</option>
                                                                            <option>3</option>
                                                                            <option>4</option>
                                                                            <option>5</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="settings-table-cell attribute-map-chckradio">
                                                        <div class="row">
                                                            <div class="col-xs-12"> <span class="font-bold margin-left10 childs-bot-space">Add New Child Nodes</span> </div>
                                                        </div>
                                                        <div class="light-border margin-left10 padding10 min-height100">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    Allow Users to Add New Child Nodes
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="row marginTop10">
                                                            <div class="col-xs-12"> <span class="font-bold margin-left10 childs-bot-space">Node Definition Behaviour</span> </div>
                                                        </div>
                                                        <div class="light-border margin-left10 padding10 min-height100">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    Use as Nested Set of Child Nodes
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    Use as a Layout Item
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tab2 -->
                                <div role="tabpanel" class="tab-pane" id="linkCopySettings">
                                    <div class="padding10">
                                        <div class="settings-table-row">
                                            <div class="settings-table-cell attribute-map-chckradio border-right-horizintal">
                                                <div class="linkcopy-wrap attribute-map-chckradio">
                                                    <span class="font-bold">Linking & Copy Sources</span>
                                                    <div class="chkbox-main-wrap marginTop10">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Node
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="chkbox-sub-wrap">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Linking
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Deep Linking
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Copy
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Deep Copy
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Shortcuts
                                                            </label>
                                                        </div>
                                                        <div class="marginTop5">
                                                            <span>Default Action</span>
                                                            <select class="form-control">
                                                                <option>Link</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                            <div class="marginTop5">
                                                                <button class="btn btn-default btn-sm width-100percent" type="button" data-toggle="modal" data-target="#nodeSources">Node Sources</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="settings-table-cell attribute-map-chckradio paddingLeft10 border-right-horizintal">
                                                <div class="linkcopy-wrap attribute-map-chckradio">
                                                    <div class="chkbox-main-wrap linkcopy-row2-wrap">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Content Object
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="chkbox-sub-wrap">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Linking
                                                            </label>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Copy
                                                            </label>
                                                        </div>
                                                        <div class="default-action-wrap">
                                                            <span>Default Action</span>
                                                            <select class="form-control">
                                                                <option>Link</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                            <div class="marginTop5">
                                                                <button class="btn btn-default btn-sm width-100percent" type="button" data-toggle="modal" data-target="#contentObjectSources">Content Object Sources</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="settings-table-cell paddingLeft10">
                                                <div class="linkcopy-wrap">
                                                    <span class="font-bold">Copy, Link & Move Targets</span>
                                                    <div class="chkbox-main-wrap marginTop10 attribute-map-chckradio">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Link to Node
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="chkbox-sub-wrap attribute-map-chckradio">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Deep Linking
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="chkbox-main-wrap marginTop10 attribute-map-chckradio">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Copy to Node
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="chkbox-sub-wrap attribute-map-chckradio">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Deep Copy
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="chkbox-main-wrap linkcopy-chkradio">
                                                        <div class="marginTop5">
                                                            <button class="btn btn-default btn-sm width-100percent" type="button">Copy & Link Targets</button>
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                Allow Move into another Node
                                                            </label>
                                                        </div>
                                                        <button class="btn btn-default btn-sm width-100percent" type="button">Move Targets</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-object-footer">
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-grey" type="button" aria-hidden="true"> <i class="fa fa-times"></i> Discard</button>
                        <button class="btn btn-primary" type="button" aria-hidden="true"> <i class="fa fa-pencil"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Child Node Offer Properties MODAL END-------------------------------------------------->