    <!--Content Object Sources MODAl START------------------------------------------------->
<div id="contentObjectSources" class="modal fade attribute-container" tabindex="-1" role="dialog" aria-labelledby="contentObjectSourcessssss">
    <div class="modal-dialog model-width700">
        <div class="modal-content add-sub-object-main">
            <form name="frmw1" role="form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4><b>Offer Search Options</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row padding10">
                        <div class="filter-table-row">
                            <div class="filter-table-cell filter-table-cel-padding width-40-percent">
                                <div class="align-right font-bold">Available</div>
                                <div class="multi-select padding-leftright5">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="noborder-table">
                                                <table class="table table-condensed">
                                                    <tbody>
                                                        <tr>
                                                            <td>Hero Offers</td>
                                                            <td class="align-right gray-color">Browse</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Offer List</td>
                                                            <td class="align-right gray-color">List</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-table-cell filter-table-cel-padding">
                                <div id="buttons" class="multi-select-action-buttons">
                                    <button class="btn btn-default marginbottom10" type="button"><i class="fa fa-chevron-right"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-chevron-left"></i></button>
                                </div>
                            </div>
                            <div class="filter-table-cell filter-table-cel-padding width-60-percent">
                                <div class="align-right font-bold">Selected</div>
                                <div class="multi-select selected-list">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="noborder-table">
                                                <table class="table table-hover table-condensed">
                                                    <tbody>
                                                        <tr>
                                                            <td>Offer Search</td>
                                                            <td class="align-right table-links"><a href="#" data-original-title="" title=""><i class="fa fa-pencil"></i></a> <a href="#" data-original-title="" title=""><i class="fa fa-times"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Job Search</td>
                                                            <td class="align-right table-links"><a href="#" data-original-title="" title=""><i class="fa fa-pencil"></i></a> <a href="#" data-original-title="" title=""><i class="fa fa-times"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-object-footer">
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-grey" type="button" aria-hidden="true"> <i class="fa fa-times"></i> Discard</button>
                        <button class="btn btn-primary" type="button" aria-hidden="true"> <i class="fa fa-pencil"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Content Object Sources MODAL END-------------------------------------------------->