<!--Node Sources MODAl START------------------------------------------------->
<div id="nodeSources" class="modal fade attribute-container" tabindex="-1" role="dialog" aria-labelledby="selectChildNodeProperties">
    <div class="modal-dialog model-width700">
        <div class="modal-content add-sub-object-main">
            <form name="frmd1" role="form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4><i class="fa fa-cogs" aria-hidden="true"></i> <b>Node Sources</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 white-bg">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs position-relative" role="tablist">
                                <li class="active"><a href="#" data-target="#nodeSearches" role="tab" data-toggle="tab">Node Searches</a></li>
                                <li><a href="#" data-target="#searchOptionsOrder" role="tab" data-toggle="tab">Search Options Order</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Tab1 -->
                                <div role="tabpanel" class="tab-pane active" id="nodeSearches">
                                    <div class="padding10 min-height300 position-relative">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="table-row flat-right">
                                                    <div class="table-cell botm-label-place0 table-cel-padding">
                                                        <label for="" class="control-label">Production Hierarchy</label>
                                                    </div>
                                                    <div class="table-cell table-cel-padding">
                                                        <select class="form-control width170">
                                                            <option>Advertising Prouduction</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="bottom-border-nospace paddingTop10"></div>
                                            </div>
                                        </div>
                                        <div class="row marginTop10">
                                            <div class="col-xs-12">
                                                <!--Hierachy tree view list start-->
                                                <ul class="tree">
                                                    <li>
                                                        <div class="full-container">
                                                            <div class="table-row">
                                                                <div class="table-cell">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox">
                                                                            Campaign
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="table-cell paddingLeft10">
                                                                    <div class="nodesource-dropdown">
                                                                        <div class="dropdown">
                                                                            <a href="#" class="font-bold font-size14 dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-search"></i> </a>
                                                                            <div class="dropdown-menu padding10">
                                                                                <div class="table-row">
                                                                                    <div class="table-cell paddingright20 width-100percent">
                                                                                        <div class="checkbox">
                                                                                            <label>
                                                                                                <input type="checkbox" value="">
                                                                                                Search
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="table-cell width-100percent"> <a href="#"><i class="fa fa-pencil" data-toggle="modal" data-target="#searchName"></i></a> </div>
                                                                                </div>
                                                                                <div class="table-row">
                                                                                    <div class="table-cell paddingright20 width-100percent">
                                                                                        <div class="checkbox">
                                                                                            <label>
                                                                                                <input type="checkbox" value="">
                                                                                                Upcoming
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="table-cell width-100percent"> <a href="#"><i class="fa fa-pencil" data-toggle="modal" data-target="#searchName"></i></a> </div>
                                                                                </div>
                                                                                <div class="table-row">
                                                                                    <div class="table-cell paddingright20 width-100percent">
                                                                                        <div class="checkbox">
                                                                                            <label>
                                                                                                <input type="checkbox" value="">
                                                                                                Completed
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="table-cell width-100percent"> <a href="#"><i class="fa fa-pencil" data-toggle="modal" data-target="#searchName"></i></a> </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul>
                                                            <li>
                                                                <div class="full-container">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox">
                                                                            Job
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="full-container">
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    <input type="checkbox">
                                                                                    Office
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="nodesource-helpwrap">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="bottom-border marginbottom10"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p><i class="fa fa-search"></i> Click the Search icon to select the searches which can be used to select source nodes.</p>
                                                    <p><i class="fa fa-pencil"></i> Click the Rename icon change the name displayed for the search</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tab2 -->
                                <div role="tabpanel" class="tab-pane" id="searchOptionsOrder">
                                    <div class="padding10 min-height300 position-relative">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="attribute-model-title">Drog and Drop to change the order of the  Search Options</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="noborder-table">
                                                    <table class="table table-hover table-condensed">
                                                        <tbody>
                                                            <tr>
                                                                <td>Campagin Search</td>
                                                                <td class="align-right table-links"><a href="#"><i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Job Search</td>
                                                                <td class="align-right table-links"><a href="#"><i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nodesource-helpwrap">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="bottom-border marginbottom10"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <p><i class="fa fa-pencil"></i> Click the Rename icon change the name displayed for the search</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-object-footer">
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-grey" type="button" aria-hidden="true"> <i class="fa fa-times"></i> Discard</button>
                        <button class="btn btn-primary" type="button" aria-hidden="true"> <i class="fa fa-pencil"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Node Sources MODAL END-------------------------------------------------->