<!--Add Attribute  MODAL START--------------------------------------------------------------------->
<div id="addAttribute" class="modal fade attribute-container" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content add-sub-object-main">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><b>Add Attribute</b></h4>
            </div>
            <div class="modal-body">
                <div class="attribute-model-title"> Select Attribute Type </div>
                <div class="attribute-types-list">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/Integer.jpg" alt="Integer"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Integer</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/Price.jpg" alt="Price"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">
                                    Price /<br />
                                    Decimal
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/sequence.JPG" alt="Sequence"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">
                                    Sequence <br />
                                    (Autonumber)
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/date.JPG" alt="Date"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Date</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/time.JPG" alt="Time"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Time</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/date&time.JPG" alt="Date & Time"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Date & Time</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/text.jpg" alt="Text"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Text </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/yes-no.jpg" alt="Yes No"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Yes/No</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/list.jpg" alt="List"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">
                                    List<br />
                                    (Selection)
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/sub-object.JPG" alt="Sub Object"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Sub-Object</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/copy.JPG" alt="Copy"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Copy</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/object-reference.jpg" alt="Object Reference"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">
                                    Object<br />
                                    Reference
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/hierarchy-reference.jpg" alt="Object Reference"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Hierarchy Reference</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/image-reference.jpg" alt="Image Reference"></div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">
                                    Image<br />
                                    Reference
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/Doc-reference.jpg" alt="Document Reference"> </div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">
                                    Document<br />
                                    Reference
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="attribute-type-img" data-toggle="modal" data-target="#"> <img src="images/workflow.jpg" alt="Document Reference"> </div>
                                <div class="attribute-type-img-title" data-toggle="modal" data-target="#">Workflow</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Add Attribute  MODAL End--------------------------------------------------------------------->