<div class="main-container-trow" ng-controller="ChangePasswordController as cp" ng-init="cp.load()">
    <div class="box valign-middle sign-logo-wrap">
        <div ng-if="!companyLogo" class="sign-brandlogo">SBM</div>
        <div ng-if="companyLogo" class="logo" style="text-align: center;text-indent: -99999px;width: 175px;height: 64px;margin: 0 auto;">
            <img id="brand" style="text-align: center;text-indent: -99999px;width: 175px;height: 64px;margin: 0 50px;" ng-src="images/{{companyLogo}}" alt="{{companyName}}" class="img-responsive" />
        </div>
    </div>

    <div class="box valign-top login-formwrap padding20">

        <div class="reg-border">
            <div class="col-xs-12">
                <h3 class="color-grey-dark">Update Profile</h3>
            </div>

            <div class="col-xs-12">
                <p>Please enter your details below to update your profile. Note: Updating your profile will change your details across all Advertising Production System</p>
                <hr />
                <h4 class="color-grey-light">My APS instances</h4>
                <p> Select your primary APS instance.</p>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-3 displaybox" ng-repeat="instance in cp.userApsInstances | orderBy: 'Name'"
                     ng-class="instance.isPrimary ? 'selected':''"
                     ng-click="cp.selectPrimaryInstance(instance)">
                    <a href="#">
                        <ul>
                            <li><img id="brand" ng-src="images/{{instance.Logo}}" alt="{{instance.Name}}" class="img-responsive" /></li>
                            <li class="margin-left10 marginTop5"><label>{{instance.Name}}</label></li>
                        </ul>
                    </a>
                </div>
            </div>


            <section class="col-xs-8 marginTop20">
                <div class="alert alert-success fade in" ng-show="cp.instanceDetailsSuccess" role="alert">
                    <a href="#" class="close" ng-click="cp.instanceDetailsSuccess = false">&times;</a>
                    <strong>Done!</strong> Primary instance updated Succesfully.
                </div>

                <div class="alert alert-danger fade in" ng-repeat="error in cp.errors.instanceDetails" ng-show="!cp.instanceDetailsSuccess" role="alert">
                    <a href="#" class="close" ng-click="cp.clearErrors()">&times;</a>
                    <strong>Error:</strong> <span ng-bind="error"></span>
                </div>
            </section>


            <div class="col-xs-12">
                <h4 class="color-grey-light">My Details</h4>
                <p>Enter your current and new password to reset your password (leaving these fields blank shall retain your current password)           </p>



                <form class="form-horizontal" name="userDetailsForm" novalidate role="form">

                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">Email address</label>
                        <div class="col-sm-3">
                            <input class="form-control" disabled id="focusedInput" type="text" ng-model="cp.user.email">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (userDetailsForm.firstName.$invalid && !userDetailsForm.firstName.$pristine) || (userDetailsForm.lastName.$invalid && !userDetailsForm.lastName.$pristine) }">
                        <label for="firstName" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-3">
                            <input class="form-control" required name="firstName" id="firstName" type="text" ng-model="cp.user.firstName">
                            <span class="help-block" ng-show="userDetailsForm.firstName.$error.required">First Name is required.</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : userDetailsForm.lastName.$invalid && !userDetailsForm.lastName.$pristine }">
                        <label for="firstName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-3">
                            <input class="form-control" required name="lastName" id="lastName" type="text" ng-model="cp.user.lastName">
                            <span class="help-block" ng-show="userDetailsForm.lastName.$error.required">Last Name is required.</span>
                        </div>
                    </div>


                    <section class="col-sm-6">
                        <div class="alert alert-success fade in" ng-show="cp.userDetailsEditSuccess" role="alert">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Done!</strong> User details saved Succesfully.
                        </div>

                        <div class="alert alert-danger fade in" ng-repeat="error in cp.errors.profileChange" ng-show="!cp.userDetailsEditSuccess" role="alert">
                            <a href="#" class="close" ng-click="cp.clearErrors()">&times;</a>
                            <strong>Error:</strong> <span ng-bind="error"></span>
                        </div>
                    </section>

                </form>

            </div>


            <div class="col-xs-12">
                <h4 class="color-grey-light">Change Password</h4>
                <p>Enter your current and new password to reset your password (leaving these fields blank shall retain your current password)</p>



                <form class="form-horizontal" name="passwordChangeForm" role="form">

                    <div class="form-group" ng-class="{ 'has-error' : passwordChangeForm.currentPassword.$error.required}">
                        <label for="currentPassword" class="col-sm-2 control-label">Current password</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="currentPassword" name="currentPassword" ng-required="passwordChangeForm.confirmPassword.$touched && passwordChangeForm.confirmPassword.$dirty && passwordChangeForm.confirmPassword.$viewValue.length > 0" type="password" ng-model="cp.user.currentPassword">
                            <span class="help-block" ng-show="passwordChangeForm.currentPassword.$error.required">Please enter your current password.</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : passwordChangeForm.newPassword.$error.required}">
                        <label for="newPassword" class="col-sm-2 control-label">New password</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="newPassword" name="newPassword" type="password" ng-required="passwordChangeForm.confirmPassword.$touched && passwordChangeForm.confirmPassword.$dirty && passwordChangeForm.confirmPassword.$viewValue.length > 0" ng-model="cp.user.newPassword">
                            <span class="help-block" ng-show="passwordChangeForm.newPassword.$error.required">Please enter new password.</span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : passwordChangeForm.confirmPassword.$error.required}">
                        <label for="confirmPassword" class="col-sm-2 control-label">Confirm password</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="confirmPassword" name="confirmPassword" ng-required="passwordChangeForm.newPassword.$touched && passwordChangeForm.newPassword.$dirty && passwordChangeForm.newPassword.$viewValue.length > 0" type="password" ng-model="cp.user.confirmPassword">
                            <span class="help-block" ng-show="passwordChangeForm.confirmPassword.$error.required">Please confirm new password by entering again.</span>
                        </div>
                    </div>


                    <section class="col-sm-6">
                        <div class="alert alert-success fade in" ng-show="cp.userChangePasswordSuccess" role="alert">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Done!</strong> Password changed Succesfully.
                        </div>

                        <div class="alert alert-danger fade in" ng-repeat="error in cp.errors.passwordChange" role="alert">
                            <a href="#" class="close" ng-click="cp.clearErrors()">&times;</a>
                            <strong>Error:</strong> <span ng-bind="error"></span>
                        </div>
                    </section>

                </form>

            </div>


            <!-- Buttonsfooter -->
            <div class="buttons-footer pull-right">
                <button id="btn-login" class="btn btn-grey btn-sm" type="submit" ng-click="cp.cancelProfile();"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                <button id="btn-login" class="btn btn-primary btn-sm" type="submit" ng-click="cp.updateProfile(userDetailsForm.$valid && passwordChangeForm.$valid)"><i class="fa fa-pencil" aria-hidden="true"></i> Save</button>
            </div>


        </div>




    </div>

</div>
