
            <form name="frm1oi" role="form" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4><b><i class="fa fa-cogs" aria-hidden="true"></i> Work Flow iT Settings</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row main-content">
                        <div class="col-xs-12 white-bg">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs position-relative" role="tablist">
                                <li class="active"><a href="#" data-target="#workflowAdminstrators" role="tab" data-toggle="tab">Administrators</a></li>
                                <li><a href="#" data-target="#workflowNotifications" role="tab" data-toggle="tab">Workflow Notifications</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Tab inner 1 -->
                                <div role="tabpanel" class="tab-pane active" id="workflowAdminstrators">
                                    <div class="padding10">
                                        <div class="filter-table-row">
                                            <div class="filter-table-cell filter-table-cel-padding width-50-percent">
                                                <div class="form-group">
                                                    <label for="" class="font-bold">Available Roles</label>
                                                    <div class="input-group slinput">
                                                        <span class="input-group-addon btn" role="button">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </span>
                                                        <i class="fa fa-close right-icon"></i>
                                                        <input type="text" class="form-control search-close" name="" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="jobit-multi-select">
                                                    <div class="jobit-multi-select-list">
                                                        <ul>
                                                            <li>Designers</li>
                                                            <li>Marketing</li>
                                                            <li class="filterselect">Marchindishing</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="filter-table-cell filter-table-cel-padding">
                                                <div class="jobit-multi-select-list-buttons">
                                                    <button type="button" class="btn btn-default marginbottom10"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                                                    <button type="button" class="btn btn-default marginbottom10"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div class="filter-table-cell filter-table-cel-padding width-50-percent">
                                                <div class="form-group slinput">
                                                    <label for="" class="font-bold">Workflow Administrators</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon btn" role="button">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                        </span>
                                                        <i class="fa fa-close right-icon"></i>
                                                        <input type="text" class="form-control" name="" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="jobit-multi-select">
                                                    <div class="jobit-multi-select-list">
                                                        <ul>
                                                            <li>Coordinatiors</li>
                                                            <li>Marketing</li>
                                                            <li>Marchindishing</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab inner 2 -->
                                <div role="tabpanel" class="tab-pane" id="workflowNotifications">
                                    <div class="padding10">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="attribute-model-title">Workflow Notification Settings</div>
                                            </div>
                                        </div>

                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label for="" class="col-xs-4 control-label">From Name<span class="mandatory">*</span></label>
                                                <div class="col-xs-4">
                                                    <input type="text" class="form-control" id="" placeholder="Work Flow Notifications">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="" class="col-xs-4 control-label">From Email<span class="mandatory">*</span></label>
                                                <div class="col-xs-4">
                                                    <input type="text" class="form-control" id="" placeholder="notifications@sb-media.com.au">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-object-footer">
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button"><i class="fa fa-pencil"></i> Save</button>
                    </div>
                </div>
                </form>
     