<div class="row marginTop20" ng-init="getDoclibrary()">
    <div class="col-xs-12">
        <div class="object-head-wrap clearfix">
            <div class="object-head">Please specify the file name extensions thiss document library can store</div>
        </div>

        <div class="box-square">
            <div class="box-square-head font-bold">Allowed File Types</div>
            <div class="box-img-dimension allowedfiletype-wrap">
                <form name="docLibraryFileTypesForm" class="form-horizontal" role="form" novalidate>
                    
                    <div class="form-horizontal marginTop20" ng-init="loadDocTypes()">
                        <div ng-show="true">

                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Allow Specific File Types</label>
                                <div class="col-sm-3">

                                    <input type="text" class="form-control" name="allowedFileTypes" id="" placeholder="*.eps, *.psd" ng-model="docLibrary.AllowedFileTypes">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-5">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="isAllowedAllTypes" ng-model="docLibrary.IsAllowedAllTypes"> Allow All File Types
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-4 control-label">Deny Specific File Types</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="" placeholder="*.eps, *.psd" name="denyFileTypes" ng-model="docLibrary.DenyFileTypes">
                                </div>
                            </div>
                        </div>
                            </div>
                      

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bottom-border"></div>
                            <span class="text-center paddingTop10 display-block">File types should be specfied as file name extensions, seperated by commas (e.g. *.jpg, *.indd)</span>
                        </div>
                    </div>

                    <div class="marginTop20 update-btnbg align-right padding10">
                        <button class="btn btn-grey" type="button" aria-hidden="true"><i class="fa fa-times"></i> Discard</button>
                        <button class="btn btn-primary" type="button" ng-click="saveDocFileType(docLibrary)"><i class="fa fa-pencil"></i> Save1</button>
                    </div>
                    </form>
</div>
        </div>
    </div>
</div>