<div class="col-xs-12 padding20">
    <div class="row">
        <div class="col-xs-12">
            <p class="font-bold marginbottom20 clearfix">Object Permissions</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="button-list clearfix">
                <li>
                    <div class="tabs-button-links">
                        <a href="#"><i class="fa fa-plus"></i> Add Role</a>
                    </div>
                </li>
                <li>
                    <div class="tabs-button-links">
                        <a href="#"><i class="fa fa-plus"></i> Add Classification</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-5">
            <div class="box-square marginTop5">
                <div class="box-square-head font-bold">Role / Classificaiton</div>
                <div class="box-square-content">
                    <ul class="box-square-content-list">
                        <li><a href="#">All Users</a></li>
                        <li><a href="#">Coordinators</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="box-square marginTop5">
                <div class="box-square-head font-bold">Attribute</div>
                <div class="box-square-content">
                    <ul class="box-square-content-list">
                        <li><a href="#">Product Code</a></li>
                        <li><a href="#">Product Name</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Brand</a></li>
                        <li><a href="#">Departments</a></li>
                        <li><a href="#">Print Copy</a></li>
                        <li><a href="#">Website Copy</a></li>
                        <li><a href="#">Product Images</a></li>
                        <li><a href="#">Styles</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="box-square marginTop5">
                <div class="box-square-head font-bold">Permission</div>
                <div class="box-square-content">
                    <div class="margin-left10">
                        <div class="checkbox mar">
                            <label>
                                <input type="checkbox" value=""> View
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value=""> Modify
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-xs-12 marginTop20 update-btnbg">
        <button class="btn btn-update pull-right" ng-disabled="" ng-click=""> <i class="fa fa-pencil"></i> Update</button>
    </div>

</div>