<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
</head>
<body>
    <div class="span9">
        <div>
            <h6 style="margin-left:20px">Basic Properties</h6>
            <div>
                <div class="form-group">
                    <table>
                        <tbody>
                            <tr>
                                <td>ContentType Id </td>
                                <td> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <table width="100%" cellpadding="0" cellspacing="0" style="margin-left:60px">
                        <tbody>
                            <tr>
                                <td style="width:20%">Singular Name </td>
                                <td>
                                    &nbsp;<i class="form-mandatory">*</i> <span class="text-danger text-center" style="color:red">
                                        Please enter Singular Name
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%">Plural Name </td>
                                <td>
                                    &nbsp;<i class="form-mandatory">*</i> <span class="text-danger text-center" style="color:red">
                                        Please enter Plural Name
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Identifier</td>
                                <td>
                                    &nbsp;<i style="background:#eee; color:#aaa; color:red">*</i> <span class="text-danger text-center" style="color:red">
                                        Please enter Identifier
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h6 style="margin-left:20px">Presentation</h6>
                    <table width="100%" cellpadding="0" cellspacing="0" style="margin-left:60px">
                        <tbody>
                            <tr>
                                <td style="width:20%">Naming Expression </td>
                                <td>
                                    <div class="input-append">Change </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Defult Search Type </td>
                                <td> Search Option-2 Option-3 Option-4 Option-5 Option-6 </td>
                            </tr>
                            <tr>
                                <td>Custom file upload</td>
                                <td>
                                    <div class="fileupload fileupload-new">
                                        <div class="input-append">
                                            <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"></span></div>
                                            <span class="btn btn-file"><span class="fileupload-new">Change</span><span class="fileupload-exists">Change</span></span><a href="#" class="btn fileupload-exists">Remove</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Default Icon </td>
                                <td>
                                    <div class="fileupload fileupload-new">
                                        <div class="fileupload-new thumbnail" style="width:200px; height:150px"><img src="8.3.379.2/themes/base/clear.gif"></div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width:200px; max-height:150px; line-height:20px">
                                        </div>
                                        <div>
                                            <span class="btn btn-file"><span class="fileupload-new">Change</span><span class="fileupload-exists">Change</span></span>
                                            <a href="#" class="btn fileupload-exists">Remove</a>
                                        </div>
                                    </div>
                                    <div class="fileupload fileupload-new">
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width:200px; max-height:150px; line-height:20px">
                                        </div>
                                    </div>
                                    <span class="form-group text-center form-mandatory">{{error}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div style="float:right"><i class="fa fa-pencil"></i>Update </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
