<div id="defineListSource" class="modal fade attribute-container" role="dialog" data-backdrop="static">
    <div class="modal-dialog">

        <div class="modal-content marginTop50 attributes-wrap">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Define List Source</h4>
            </div>

            <div class="modal-body">
                <p class="marginbottom20">Select the content objects which will appear as list options by selecting the browse search interfaces associated with the source content type</p>
                <tree-multi-select control-id="listContentTypes" options-list="ListSourceOptions"
                                   selected-values="selectedListAttrContentTypes" create-content-node="createListContentTypeInnerNode">
                </tree-multi-select>

                    <div id="multiSelectTree"></div>


            </div>

            <div class="sub-object-footer">
                <div class="modal-footer">
                    <form class="ng-pristine ng-valid">
                        <button data-dismiss="modal" ng-click="RestoreDefineListSource();" class="btn btn-grey" type="button"><i class="fa fa-times"></i> Discard</button>
                        <button data-dismiss="modal" ng-click="SaveDefineListSource();" class="btn btn-primary" type="button"><i class="fa fa-pencil"></i> Save</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- end popup modal window -->
